<section class='poems'>
<h1>Poem Results</h1>

  <% @poems.each do |poem|%>
    <div class='poem'>
      <p><b>Title:</b> <%= poem.title %></p>
      <p><b>Author:</b> <%= poem.author %></p>
      <p><b>Tones:</b> <%= poem.tones.join(', ') %></p>
      <% poem.lines.each do |line|%>
        <p><%= line %></p>
      <% end %>
    </div><br>
  <% end %>

</section>
