<section class='poems'>

  <% @poems.each do |poem|%>
    <div class='poem'>
      <p>Title: <%= poem.title %></p>
      <p>Author: <%= poem.author %></p>
      <p>Tones: <%= poem.tones.join(', ') %></p>
      <% poem.lines.each do |line|%>
        <p><%= line %></p>
      <% end %>
    </div><br>
  <% end %>

</section>
